/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0F0F0F; /* Dark background */
    color: #e0e0e0; /* Light text for contrast */
}

.box a {
    color: #e0e0e0; /* White links */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Optional: Adjust the font size */
}

.box a:visited {
    color: #e0e0e0; /* Keep visited links white */
}

.box a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #4CAF50; /* Change color on hover (green) */
}

#navigation {
    background-color: #262626;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation a {
    color: #e0e0e0;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

#navigation a:hover {
    background-color: #3d3d3d;
    border-radius: 4px;
}

/* Grid container for the content boxes */
#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: auto; /* auto-adjusting rows */
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Box styling */
.box {
    background-color: #2e2e2e;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

.box:hover {
    transform: scale(1.05);
}

/* Download button style */
.download-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto;
}

.download-btn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

/* Discord button style */
.discord-btn {
    padding: 10px 20px;
    background-color: #7289DA;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto;
}

.discord-btn:hover {
    background-color: #5b6eae;
    transform: scale(1.1);
}

/* Youtube button style */
.youtube-btn {
    padding: 10px 20px;
    background-color: #eb0f0f;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto;
}

.youtube-btn:hover {
    background-color: #eb0f0f;
    transform: scale(1.1);
}

/* Phantom button style */
.phantom-btn {
    padding: 10px 20px;
    background-color: #686161;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto;
}

.phantom-btn:hover {
    background-color: #686161;
    transform: scale(1.1);
}
/* aa*/
